.layout-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 5rem 2rem 2rem 3rem;
  transition: margin-left $transitionDuration;
}

.layout-main {
  flex: 1 1 auto;
  overflow: auto;
}
