@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/viva-dark/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

@import 'assets/styles/layout/layout.scss';

body {
  font-family: var(--font-family);
}

.layout-wrapper {
  min-height: 100vh;
}

.toast {
  transform: translateY(60px);
  opacity: 1;
}
